// стандарная ширина полотна: 1440px, стандартная ширина ограничующего контейнера: 1200px;

// ноутбуки
$laptop: 1220px!default;
// планшеты в книжной ориентации:
$tablet-b: 992px!default;
// планшеты и смартфоны в горизонтальной ориентации:
$tablet: 768px!default;
// большие экраны смартфонов:
$mobile: 500px!default;
// малые экраны смартфонов:
$mobile-s: 393px!default;

@mixin laptop {
@media (max-width: $laptop){
   @content;
}}
@mixin tablet-b {
  @media (max-width: $tablet-b){
     @content;
  }}
@mixin tablet {
@media (max-width: $tablet){
   @content;
}}
@mixin mobile-s {
@media (max-width: $mobile-s){
   @content;
}}

@mixin mobile {
@media (max-width: $mobile){
   @content;
}
}
@mixin hover {
   @media (hover: hover) {
     &:hover {
       @content;
     }
   }

   @media (hover: none) {
     &:active {
       @content;
     }
   }
 }