.header {
width: calc(123px + 139px + 305px);
height: 100px;
 position: relative;
left: 10px;
top: 8px;

padding: 10px 6px 0 6px;

		&__navigation {
                        display: flex;
                        justify-content:space-between;
                        align-items: center;
                        row-gap: 139px;
                        flex-flow: row nowrap;
		}

		&__logo {
                display: flex;
                gap: 16px;
                align-items: center;
                justify-content: center;
                flex-flow: row nowrap;
                max-width: 123px;
                h3 {
                        font-size: 24px;
                        text-align: left;
                        letter-spacing: 0;
                        line-height: 29px;
                        font-weight: 600;

                }
		        }

		&__links {
                max-width: 317px;
                width: 317px;
                display: flex;
                justify-content: space-between;
                align-items: center;
		}

		&__link--active {
                color: var(--accent-color);
		}

		&__link {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0;
                transition: color 0.4s ease;

                        @include media.hover {
                        color: var(--hover-color)
                }

		}
                &__link:focus {
                        border: 1px solid blue;
                }
}
