
:root {
    // переменная ширины ограничивающего контейнера
    --container-max-width: 1196px;
  // color-palette:
  --primary-color:#FFFFFF ;
   --secondary-color:rgba(18, 18, 18, 0.4);
   --accent-color:#FF6428 ;
   --hover-color:#ff6528d3;


}