// файл с утилитарными стилями, сюда записываються свойства тех классов, которые многоразово повторяются в проекте


@use "./mixins/media" as media;
@use "./mixins/mixins" as mix;
[class*="__container"] {
width: 100%;
max-width: var(--container-max-width);
height: inherit;
margin: 0 auto;
padding: 0 16px;
@include media.tablet-b {
    max-width: 960px;
}
@include media.tablet {
    max-width: none;


}

}
// стили для .wrapper:
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.wrapper>main {
    flex-grow: 1;
}
// ---------------
// подключаем шрифт файлом:
// подключение шрифта через правило @font-face на примере семейства шрифтов Montserrat
@font-face {
    font-family: "Poppins", sans-serif;
// путь к папке fonts -- ../fonts/my-font-name.woff2
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') format("woff2");
}
@font-face {
    font-family: "Cal Sans", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
}
 body,html {
     height: auto;
     min-height: 100%;
     text-align: left;
     overflow-x: hidden;
     scroll-behavior: smooth;
   font-family: "Poppins", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0;
   color:var(--secondary-color);
   background-color: var(--primary-color);


// ------------------------------------//
 }
 h1, h2, h3 {
 font-family: "Cal Sans", sans-serif;
 font-weight: 700;
 color:#000000; }
// утилитарные классы для подклюяения миксинов:

// --------------------------------------------------------

// задник через html first:, в структуре BEM, сначала элемент блока с картинкой (class*="__cover"), затем элемент блока с контентной частью страницы (class*="__content")
[class*="__cover"] {
    position: absolute; // чтоб изображение было фоном
    // width: auto;
    // height: auto;
    z-index: 1; // изображение на заднем плане, для контентной части z-index: 2 нужен;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; // изображение полностью покроет блок
        object-position: top; // изображение встанет по центру
        backdrop-filter: blur(40px);
    }

}
// чтобы контентная часть была по верх задника
[class*="__content"] {
    z-index: 2; // по умолчанию,
    position: relative;
}
// утилитарный класс для построения контента
[class*="__layout"] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    row-gap: var(--vertical-gap);
}
[class*="__layout--row"] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--horisontal-gap);
    @include media.tablet-b {
        flex-wrap: wrap;
    }
}
.button-utility {
width: 192px;
height: 68px;
display: inline-flex;
justify-content: center;
align-items: center;
padding: 18px 48px;
border-radius: calc(68px / 2 );
background-color: var(--accent-color);
transition: all 0.4s ease ;
// работа с текстом:
color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align:  center;
// даем ховер:
@include media.hover  {
    opacity: 0.9;
    transform: scale(1.1);
}
}
